.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainArea {
    /* Positions the text, search bar, and history buttons over the background image*/
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Adjusts the height and width so they cover the background image that has an translucent box */
    height: 75%;
    width: 80%;

    display: flex;
    flex-direction: column;

    /* This aligns items (text, search bar, and history) on the cross axis (x-axis since it's flex column) */
    align-items: center;

    /* This aligns items (text, search bar, and history) on the main axis (y-axis since it's flex column) */
    justify-content: space-around;
}


.textArea {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 45px;
    /*Makes text easier to read*/
    text-shadow: 0 0 3px white;
}

.textArea>* {
    margin: 30px;
}

.searchArea {
    display: flex;
}

#searchInput {
    width: 800px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.225);

}

.buttonsArea {
    /* Places grammarly and submit button on the same line */
    display: flex;
}

.buttonsArea>* {
    /* Gives the buttons a bit of space between each other on their left and right*/
    margin: 0 0.5rem;
}


.grammarlyBtn {
    /* Moves the grammarly button down to align it with Bulma's input and submit button's height */
    margin-top: .25rem;
}


grammarly-editor-plugin {
    --grammarly-default-font-family: Optima, sans-serif;
    --grammarly-interactive-color: #00d1b2;
    --grammarly-card-border-radius: 5px;
}

.pastSearches {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 10px;

}
.image {
    width: 100rem;
}