body,
html {
    overflow-x: hidden;
    overflow-y: auto;

}

:root {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    border: 1px black solid;
    background: url(../Images/root-background.jpg) repeat;
    height: 100%;
    width: 100%;
}



*>p {
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-family: 'Playfair Display', serif;

}


.line-1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-2 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchInput {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 10px 20px;
    margin: 9px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.225);
}

#submitBtn {
    position: absolute;
    top: 55%;
    left: 78%;
    transform: translate(-50%, -50%);
}

grammarly-editor-plugin {
    --grammarly-button-position-bottom: 424px;
    --grammarly-button-position-right: 482px;
}